<h1 class="page-header">Borrar Blog</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-tittle"><strong>Confirmar</strong></h4>
    </div>
    <div class="modal-body">
      <p>Seguro desea eliminar este Blog?</p>
    </div>
    <div class="modal-footer">
      <a routerLink="/blog"><button [disabled]="processing" button="button" name="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;No</button></a>
      <button [disabled]="processing" button="button" name="button" class="btn btn-success" (click)="deleteBlog()"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Si</button>
    </div>
  </div>

  <br>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.tittle }}</h3>
    </div>
    <div class="panel-body">
      {{ blog.body }}
    </div>
    <div class="panel-footer">
      <strong>Creador por: </strong> {{ blog.createdBy }}
      <br>
      <strong>Fecha: </strong> {{ blog.createdAt | date:'dd MMM, yyyy' }}
    </div>
  </div>

</div>
